.nav {
	font-family: PerfectDOSVGA;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	span {
		position: relative;
		transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		display: inline-block;
		&:after {
			content: "";
			position: absolute;
			right: -16px;
			top: 50%;
			width: 10px;
			height: 1px;
			background: #fff;
			opacity: 0;
			transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
		}
	}
	a.is-active {
		span {
			-webkit-transform: translate3d(-8px, 0, 0);
			transform: translate3d(-8px, 0, 0);
			&:after {
				opacity: 1;
			}
		}
	}
}
.no-touchevents {
	.nav {
		a {
			&:hover {
				span {
					-webkit-transform: translate3d(-8px, 0, 0);
					transform: translate3d(-8px, 0, 0);
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1025px) {
	.nav {
		text-align: center;
		img {
			display: none;
		}
		a {
			transition: color 0.3s;
		}
	}
	.nav__primary {
		>li {
			border-top: 1px solid #fff;
			transition: border-color 0.3s;
			width: 33.33333%;
			display: inline-block;
			vertical-align: top;
			width: 32%;
			position: relative;
			>a {
				display: block;
				padding: 32px 0;
			}
			&:first-child {
				+ {
					li {
						width: 36%;
					}
				}
			}
		}
		z-index: 11;
		position: fixed;
		left: 0;
		top: 50px;
		width: 50%;
		box-sizing: border-box;
		padding: 0 50px;
		span {
			font-size: 18px;
		}
	}
	.nav__secondary {
		>li {
			border-top: 1px solid #fff;
			transition: border-color 0.3s;
			width: 33.33333%;
			display: inline-block;
			vertical-align: top;
			>a {
				display: block;
				padding: 32px 0;
			}
		}
		z-index: 11;
		position: fixed;
		right: 0;
		top: 50px;
		width: 50%;
		box-sizing: border-box;
		padding: 0 50px;
		li {
			width: 30%;
			box-sizing: border-box;
			&:first-child {
				width: 42%;
				padding-left: 10%;
				+ {
					li {
						width: 28%;
					}
				}
			}
			&:last-child {
				padding-right: 12%;
			}
		}
		span {
			font-size: 18px;
		}
	}
	.nav__primary__submenu {
		width: 106px;
		position: absolute;
		left: 0;
		right: 0;
		top: 56px;
		text-align: left;
		margin: 0 auto;
		transition: height 0s linear 0.3s, opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), height 0s linear 0.3s, opacity 0.3s;
		transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), height 0s linear 0.3s, opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		overflow: hidden;
		opacity: 0;
		height: 0;
		li {
			display: block;
		}
		a {
			display: block;
			padding: 8px 0;
		}
		span {
			&:after {
				right: 0;
				left: -16px;
			}
		}
		a.is-active {
			span {
				-webkit-transform: translate3d(16px, 0, 0);
				transform: translate3d(16px, 0, 0);
			}
		}
	}
	.no-touchevents {
		.nav__primary__submenu {
			a {
				&:hover {
					span {
						-webkit-transform: translate3d(16px, 0, 0);
						transform: translate3d(16px, 0, 0);
					}
				}
			}
		}
		.nav__primary {
			li {
				&:hover {
					.nav__primary__submenu {
						opacity: 1;
						height: 60px;
						transition: height 0s linear 0s, opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
						transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), height 0s linear 0s, opacity 0.3s;
						transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), height 0s linear 0s, opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
					}
				}
			}
		}
	}
	li.contains-active {
		.nav__primary__submenu {
			-webkit-transform: translate3d(-8px, 0, 0);
			transform: translate3d(-8px, 0, 0);
		}
	}
	.nav__toggle {
		display: none;
	}
	.sticky-header.state--building-360 {
		.nav__secondary {
			background: #fffbec;
			top: 0;
			padding-top: 50px;
		}
	}
	.sticky-header.state--nav-team {
		.nav__secondary {
			background: #fffbec;
			top: 0;
			padding-top: 50px;
		}
	}
	.state--building-360 {
		.nav__primary {
			>li {
				&:first-child {
					>a {
						&:after {
							content: "360";
							margin-left: 1.8em;
						}
					}
					span {
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.sticky-header.state--building-320 {
		.nav__primary {
			background: #fffbec;
			top: 0;
			padding-top: 50px;
		}
	}
	.state--building-320 {
		.nav__primary {
			>li {
				&:first-child {
					>a {
						&:after {
							content: "320";
							margin-left: 1.8em;
						}
					}
					span {
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.state--nav-dark {
		.nav {
			a {
				color: #ad8846;
			}
			span {
				&:after {
					background: #ad8846;
				}
			}
		}
		.nav__primary {
			>li {
				border-color: #ad8846;
			}
		}
		.nav__secondary {
			>li {
				border-color: #ad8846;
			}
		}
	}
	.state--nav-left-dark {
		.nav__primary {
			position: absolute;
			a {
				color: #ad8846;
			}
			span {
				&:after {
					background: #ad8846;
				}
			}
			>li {
				border-color: #ad8846;
			}
		}
		.nav__secondary {
			position: absolute;
		}
	}
	.state--nav-right-dark {
		.nav__primary {
			position: absolute;
		}
		.nav__secondary {
			position: absolute;
			a {
				color: #ad8846;
			}
			span {
				&:after {
					background: #ad8846;
				}
			}
			>li {
				border-color: #ad8846;
			}
		}
	}
	.state--nav-team {
		.nav__secondary {
			a {
				color: #ad8846;
			}
			span {
				&:after {
					background: #ad8846;
				}
			}
			>li {
				border-color: #ad8846;
			}
		}
	}
	.state--nav-hood {
		.nav__primary {
			position: absolute;
		}
		.nav__secondary {
			position: absolute;
		}
	}
}
@media screen and (max-width: 1024px) {
	.nav__toggle {
		width: 44px;
		height: 44px;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		background: transparent;
		padding: 13px 11px;
		position: fixed;
		left: 30px;
		top: 30px;
		z-index: 11;
		&:focus {
			outline: none;
		}
		i {
			display: block;
			width: 22px;
			height: 1px;
			background: #fff;
			margin-bottom: 6px;
			transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
	}
	.nav__primary {
		span {
			font-size: 16px;
		}
		>li {
			&:first-child {
				margin-bottom: 30px;
			}
		}
	}
	.nav__secondary {
		span {
			font-size: 18px;
		}
	}
	.state--nav-hood {
		.nav__toggle {
			i {
				background: #ad8846;
			}
		}
	}
	.state--nav-left-dark {
		.nav__toggle {
			i {
				background: #ad8846;
			}
		}
	}
	.nav {
		width: 0;
		height: 100%;
		overflow: hidden;
		position: fixed;
		left: 0;
		top: 0;
		transition: width 0s linear 0.4s;
		line-height: 35px;
		z-index: 10;
		img {
			margin-top: 40px;
		}
	}
	.nav__content {
		width: 50vw;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		text-align: center;
		transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		box-shadow: inset -4px 0 15px rgba(0, 0, 0, 0.05);
		background: #ad8846;
		a {
			display: block;
		}
	}
	.nav__menus {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.state--nav-open {
		.nav {
			width: 50%;
			transition: width 0s linear 0s;
		}
		.nav__content {
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
		}
		.nav__toggle {
			i {
				background: #fff;
				&:first-child {
					-webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
					transform: translate3d(0, 7px, 0) rotate(45deg);
					+ {
						i {
							opacity: 0;
							+ {
								i {
									-webkit-transform: translate3d(0, -7px, 0) rotate(-45deg);
									transform: translate3d(0, -7px, 0) rotate(-45deg);
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.nav__content {
		width: 100vw;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		box-shadow: none;
	}
	.nav__toggle {
		left: 10px;
		top: 10px;
	}
	.state--nav-open {
		.nav {
			width: 100%;
		}
	}
}
